<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ product.id ? 'Editar Producto' : 'Nuevo Producto' }}
            </h5>
            <form [formGroup]="formProduct" (ngSubmit)="onSubmitSave()" autocomplete="off">
                <div class="p-fluid">
                   <div class="field">
                        <label htmlFor="name">Nombre</label>
                        <input pInputText id="name" type="text" autofocus
                            formControlName="name" placeholder="Ingresa el nombre"
                        />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('name')">
                            {{ getError('name') }}
                        </small>
                    </div>
                    <div class="field">
                        <label htmlFor="price">Precio</label>
                        <input pInputText id="price" type="text"
                            formControlName="price" placeholder="Ingresa el precio"
                        />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('price')">
                            {{ getError('price') }}
                        </small>
                    </div>
                    <div class="field">
                        <label for="size">Categoria</label>
                        <p-dropdown
                            formControlName="category"
                            inputId="category"
                            [options]="categories"
                            placeholder="Selecciona la categoria">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('category')">
                            {{ getError('category') }}
                        </small>
                    </div>
                    <div class="field">
                        <label htmlFor="stock">Stock</label>
                        <input pInputText id="stock" type="text"
                            formControlName="stock" placeholder="Ingrgesa el stock"
                        />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('stock')">
                            {{ getError('stock') }}
                        </small>
                    </div>
                    <div class="field">
                        <label htmlFor="status">status</label>
                        <input pInputText id="status" type="text"
                            formControlName="status" placeholder="Ingresa el estado"
                        />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('status')">
                            {{ getError('status') }}
                        </small>
                    </div>
                    <div class="field">
                        <label htmlFor="description">Descripcion</label>
                        <input pInputText id="description" type="text"
                            formControlName="description" placeholder="Ingresa la description"
                        />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('description')">
                            {{ getError('description') }}
                        </small>
                    </div>
                    <div class="field">
                        <label htmlFor="available">Disponible</label>
                        <input pInputText id="available" type="text"
                            formControlName="available" placeholder="Ingresa si esta disponible"
                        />
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('available')">
                            {{ getError('available') }}
                        </small>
                    </div>
                    <div class="field">
                        <label for="size">Talla</label>
                        <p-dropdown formControlName="size" inputId="Tallas" [options]="sizes" placeholder="Selecciona la Talla">
                            <ng-template pTemplate="selectedItem">
                                <span *ngIf="formProduct.controls['size'].value" [class]="'product-badge status-'+formProduct.controls['size'].value">
                                    {{formProduct.controls['size'].value}}
                                </span>
                            </ng-template>
                            <ng-template let-option pTemplate="item">
                                <span [class]="'product-badge status-'+option">{{option}}</span>
                            </ng-template>
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="isValidField('size')">
                            {{ getError('size') }}
                        </small>
                    </div>
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-6">
                            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                                [routerLink]="['/productos']" routerLinkActive="router-link-active">
                            </button>
                        </div>
                        <div class="field col-6">
                            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-success"
                                [disabled]="!formProduct.controls['name'].value" type="submit"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
